.app__aboutus {
    position: relative;
}

.app_aboutus-overlay {
    position: absolute;
    inset: 0;
}

.app_aboutus-overlay img {
    height: 415px;
    width: 391px;
    z-index: 0;
}

.app_aboutus-content {
    width: 100%;
    z-index: 2;
}

.app_aboutus-content_about,
.app_aboutus-content_history {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.app_aboutus-content_about {
    justify-content: flex-end;
    align-items: flex-end;

    text-align: right;
}

.app_aboutus-content_history {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.app_aboutus-content_knife {
    margin: 2rem 4rem;
}

.app_aboutus-content_knife img {
    height: 910px;
}

.app_aboutus-content p {
    margin: 2rem 0;
    color: var(--color-gray);
}

@media only screen and (max-width: 2000px) {
    .app__aboutus-content_knife img {
        height: 1110px;
    }

    .app_aboutus-content p {
        margin: 4rem 0;
    }

}

@media only screen and (max-width: 900px) {
    .app_aboutus-content {
        flex-direction: column;
    }

    .app_aboutus-content_knife {
        margin: 4rem 0;
    }

}

@media only screen and (max-width: 900px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 320px;
    }
}